@model Dish

<div class="card shadow-sm rounded mx-auto w-75 mb-3">
  <h4 class="card-title text-center bg-dark text-light py-2 rounded-top">
    @Model.Name
  </h4>
  <div class="card-body">
    <p class="card-text">
      @* @Model.Chef *@
    </p>
    <p class="card-text">
      @Model.Tastiness
    </p>
    <p class="card-text">
      @Model.Calories
    </p>
    <p class="card-text">
      @Model.Description
    </p>
    <small class="text-muted">
      Submitted: @Model.CreatedAt
    </small>
  </div>

  @* @if (Model.ImgUrl != null)
  {
    <img width="100%" src="@Model.ImgUrl" alt="Post Media" class="card-img-bottom">
  } *@
</div>